In [11]:
import pandas as pd

In [22]:
df_1 = pd.DataFrame(
    {
        "City":["Pune","Chandigarh","Mumbai"],
        "Temperature":[22,12,28]
    })
df_1

         City  Temperature
0        Pune           22
1  Chandigarh           12
2      Mumbai           28

In [23]:
df_2 = pd.DataFrame(
    {
        "City":["Chandigarh","Mumbai","Pune",],
        "Windspeed":[12,25,28]
    })
df_2

         City  Windspeed
0  Chandigarh         12
1      Mumbai         25
2        Pune         28

In [26]:
merge = pd.merge(df_1, df_2, on="City", indicator = True)
merge

         City  Temperature  Windspeed _merge
0        Pune           22         28   both
1  Chandigarh           12         12   both
2      Mumbai           28         25   both

In [35]:
df_3 =  pd.DataFrame(
        {"City":["Mumbai","Chandigarh","Pune"],
         "Humidity":[80,50,70],
         "Temperature":[28,22,11]
        })
df_3

         City  Humidity  Temperature
0      Mumbai        80           28
1  Chandigarh        50           22
2        Pune        70           11

In [36]:
df_4 = pd.DataFrame(
        {"City":["Mumbai","Chandigarh","Pune"],
         "Humidity":[83,54,68],
         "Temperature":[26,19,8]
        })
df_4

         City  Humidity  Temperature
0      Mumbai        83           26
1  Chandigarh        54           19
2        Pune        68            8

In [38]:
merge_1 = pd.merge(df_3,df_4, on="City")
merge_1

         City  Humidity_x  Temperature_x  Humidity_y  Temperature_y
0      Mumbai          80             28          83             26
1  Chandigarh          50             22          54             19
2        Pune          70             11          68              8

In [39]:
merge_1 = pd.merge(df_3,df_4, on="City", suffixes = ("_Left","_Right"))
merge_1

,City,Humidity_Left,Temperature_Left,Humidity_Right,Temperature_Right
0,Mumbai,80,28,83,26
1,Chandigarh,50,22,54,19
2,Pune,70,11,68,8